<%= javascript_include_tag params[:controller] %>

<h1> Reviews for <%= @book.title %> </h1>

<br />
 <% if @book.review_count.to_i == 0 %>
  <%= @book.title %> does not have any reviews yet. Be the first to review this book!
 <% end %>


<ul id="review_container">

</ul>

<br />
<h4> Add a review:</h4>
<br />

<%= render partial: "review_form", locals: {review: @review, book: @book} %>

<br />

<%= render partial: "layouts/errors", locals: {object: @review} %>
