<%= javascript_include_tag 'reviews' %>

<h1> Reviews for <%= @book.title %> </h1>

<br />
 <% if @book.review_count.to_i == 0 %>
  <%= @book.title %> does not have any reviews yet. Be the first to review this book!
 <% end %>


<ul id="review_container" class="reviews">

</ul>

<br />
<h4> Add a review:</h4>
<p><strong>Note:</strong> Adding a review will also add <%=@book.title%> to your list of books read, if not already there (because how can you review it if you haven't read it?!)</p>
<br />

<%= render partial: "review_form", locals: {review: @review, book: @book} %>

<br />

<%= link_to "<< back to Books", books_path %>

<%= render partial: "layouts/errors", locals: {object: @review} %>
